// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
#__nuxt {
  primary: #4caf50;
  secondary: #795548;
  accent: #cddc39;
  error: #f44336;
  warning: #ff9800;
  info: #03a9f4;
  success: #8bc34a;
}
